{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block content_title %}LilouSnow
{% endblock %}
{% block main %}
	<div>
		<p>Bienvenue sur l'interface d'administration du site 'lilousnow.fr'</p>
	</div>
	<a class="btn btn-primary" href="https://lilousnow.fr" target="_blank">Voir le site</a>
{% endblock %}
